<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<body>
<!--Navigation bar-->
<div th:insert="navbar :: navbar">  </div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading mt-4" style="background-color:#F9F9F9;">
            <h1 class="panel-title" >Movie</h1>
        </div>
        <div class="panel-body">
            <div class="row ml-0 mt-5">
                <div>
                    <strong>
                        <label>Title:</label>
                    </strong>
                </div>

                <div class="ml-2">
                    <p th:text="${movie.title}">code</p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Duration:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${movie.duration} + ' minutes'">code</p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Genre:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${movie.genre}"></p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Main actors:</label>
                    </strong>
                </div>
                <ul  style="list-style: none;" class="pl-2">
                    <li th:each="actor: ${movie.actors}" >
                        <a href="#" th:href="@{'/actors/' + ${actor.id}}" th:text="${actor.firstName} + ' ' + ${actor.lastName}"></a>
                    </li>
                </ul>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Description:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${info.description}">code</p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Director:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${info.director}">code</p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Rating:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${info.rating}">code</p>
                </div>
            </div>

            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Showings:</label>
                    </strong>
                </div>
                <table class="table table-hover mt-2">
                    <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Hour</th>
                        <th>Info</th>
                        <div sec:authorize="hasRole('ADMIN')">
                            <th>Delete</th>
                        </div>
                    </tr>
                    </thead>
                    <tr th:each="showing, stat : ${showingsPage.content}"
                        class="table table-striped">
                        <td th:text="${showing.id}">1</td>
                        <td th:text="${showing.movie.title}">Product 1</td>
                        <td th:text="${showing.date}">Reserved price</td>
                        <td th:text="${showing.hour}">Reserved price</td>
                        <td><a href="#" th:href="@{'/showings/' + ${showing.id}}">Info</a></td>
                        <div sec:authorize="hasRole('ADMIN')">
                            <td><a href="#" th:href="@{'/showings/delete/' + ${showing.id}}">Delete</a></td>
                        </div>
                    </tr>
                </table>

                <nav aria-label="Page navigation" class="paging mb-5">
                    <ul class="pagination" th:if="${showingsPage.totalPages > 0}">
                        <li class="page-item" th:if="${showingsPage.number > 0}">
                            <a class="page-link" th:href="@{'/movies/' + ${movieId} + '?size=' + ${showingsPage.size} + '&page=' + ${showingsPage.number}}">Previous</a>
                        </li>
                        <th:block th:each="pageNumber : ${#numbers.sequence(1,T(java.lang.Math).min(7,showingsPage.totalPages))}">
                            <li class="page-item" th:classappend="${pageNumber==showingsPage.number+1} ? active">
                                <a th:class="page-link" th:classappend="${pageNumber==showingsPage.number+1} ? active" th:href="@{'/movies/' + ${movieId} + '?size=' + ${showingsPage.size} + '&page=' + ${pageNumber}}"
                                   th:text="${pageNumber}"></a>
                            </li>
                            <!--                <li th:if="${pageNumber > 3}" class="page-item">-->
                            <!--                    <a class="page-link" href="#">...</a>-->
                            <!--                </li>-->
                        </th:block>
                        <li class="page-item" th:if="${showingsPage.number < (showingsPage.totalPages - 1)}">
                            <a class="page-link" th:href="@{'/movies/' + ${movieId} + '?size=' + ${showingsPage.size} + '&page=' + ${showingsPage.number+2}}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-ml-0" sec:authorize="hasRole('ADMIN')">
        <div class="mt-1">
            <a class="btn btn-primary" role="button" th:href="@{'/movies/update/' + ${movie.id}}">Update movie</a>
        </div>

        <div class="mt-3 mb-5">
            <a class="btn btn-primary" role="button" th:href="@{/showings/new(movieId=${movie.id})}">New movie showing</a>
        </div>
    </div>
</div>

</body>
</html>