<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Showing Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading mt-4" style="background-color:#F9F9F9;">
            <h1 class="panel-title" >Movie Showing</h1>
        </div>
        <div class="panel-body">
            <div class="row ml-0 mt-5">
                <div>
                    <strong>
                        <label>Title:</label>
                    </strong>
                </div>

                <div class="ml-2">
                    <p th:text="${showing.movie.getTitle()}"></p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Duration:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${showing.movie.getDuration() + ' minutes'}"></p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Date:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${showing.date}"></p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Hour:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${showing.hour}"></p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Price:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${showing.price}"></p>
                </div>
            </div>
            <div class="row mt-3 ml-0">
                <div>
                    <strong>
                        <label>Location:</label>
                    </strong>
                </div>
                <div class="ml-2">
                    <p th:text="${showing.venue.locationName} + ' - ' + ${showing.venue.venueName}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-ml-0">
        <div class="mt-3">
            <a class="btn btn-primary" role="button" th:href="@{'/showings/update/' + ${showing.id}}">Update movie showing</a>
        </div>
    </div>
</div>

</body>
</html>