<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<!--Navigation bar-->
<div th:insert="navbar :: navbar">  </div>

<div class="container">
    <div class="panel-heading mt-4" style="background-color:#F9F9F9;">
        <h1 class="panel-title">Programme</h1>
    </div>
    <table class="table table-hover mt-5">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Hour</th>
            <th>Info</th>
            <div sec:authorize="hasRole('ADMIN')">
                <th>Delete</th>
            </div>
        </tr>
        </thead>
        <tr th:each="showing, stat : ${showingsPage.content}"
            class="table table-striped">
            <td th:text="${showing.id}">1</td>
            <td th:text="${showing.movie.title}">Product 1</td>
            <td th:text="${showing.date}">Reserved price</td>
            <td th:text="${showing.hour}">Reserved price</td>
            <td><a href="#" th:href="@{'/showings/' + ${showing.id}}">Info</a></td>
            <div sec:authorize="hasRole('ADMIN')">
            <td><a href="#" th:href="@{'/showings/delete/' + ${showing.id}}">Delete</a></td>
            </div>
        </tr>
    </table>
    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${showingsPage.totalPages > 0}">
            <li class="page-item" th:if="${showingsPage.number > 0}">
                <a class="page-link" th:href="@{/showings(size=${showingsPage.size}, page=${showingsPage.number})}">Previous</a>
            </li>
            <th:block th:each="pageNumber : ${#numbers.sequence(1,T(java.lang.Math).min(7,showingsPage.totalPages))}">
                <li class="page-item" th:classappend="${pageNumber==showingsPage.number+1} ? active">
                    <a th:class="page-link" th:classappend="${pageNumber==showingsPage.number+1} ? active" th:href="@{/showings(size=${showingsPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"></a>
                </li>
<!--                <li th:if="${pageNumber > 3}" class="page-item">-->
<!--                    <a class="page-link" href="#">...</a>-->
<!--                </li>-->
            </th:block>
            <li class="page-item" th:if="${showingsPage.number < (showingsPage.totalPages - 1)}">
                <a class="page-link" th:href="@{/showings(size=${showingsPage.size}, page=${showingsPage.number+2})}">Next</a>
            </li>
        </ul>
    </nav>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-primary" role="button" th:href="@{'/showings/new'}">Add a new movie showing</a>
        </div>
    </div>
</div>
</body>
</html>

